.formEl {
  display: flex;
  flex-direction: column;
}
.inputEl {
  margin: 10px;
}
.labelName {
  font-size: 25px;
  margin-right: 45px;
}
.labelTel {
  font-size: 25px;
  margin-right: 20px;
}

.btn {
  background-color: rgb(178 52 121);
  border-radius: 10px;
  color: white;
  font-size: 30px;
  margin: 10px;
}
